.card__item {
  display: list-item;
  .post {
    .post__attribution {
      display: flex;
      align-items: center;
      margin-bottom: .75rem;
      min-height: 2rem;
      .post__author {
        display: inline-block;
        vertical-align: middle;
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
        .post__avatar {
          display: block;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .author__name {
        display: inline-block;
        vertical-align: middle;
      }
      .post__share_button {
        display: none;
      }
    }

    .post__thumbnail_wrap {
      width: 100%;
      position: relative;
      padding-top: 52.6%;
      .post__thumbnail {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .post__title {
      margin: 1rem 0 .5rem;
    }
    .post__date {
      margin-bottom: 1rem;
      font-size: .75rem;
    }
    .post__preview {
      font-weight: 400;
      color: #595959;
    }
  }

  .post:hover {
    .post__attribution {
      position: relative;
      .post__share_button {
        // TODO:  Icon 애니메이션화
        cursor: pointer;
        display: block;
        position: absolute;
        right: 0;
      }
    }
  }
}