li.card-item {
  display: list-item;
  article.post {
    div.post-attribution {
      display: flex;
      align-items: center;
      margin-bottom: .75rem;
      min-height: 2rem;
      div.author-avatar {
        width: 2rem;
        height: 2rem;
        margin-right: .5rem;
        img.img-avatar {
          display: block;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      div.author-name {
      }
      div.post-share {
        display: none;
      }
    }

    div.post-thumb-wrap {
      width: 100%;
      position: relative;
      padding-top: 52.6%;
      img.img-thumb {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    h1.post-title {
      margin: 1rem 0 .5rem;
    }
    p.post-date {
      font-size: .75rem;
    }
    p.post-body {
      font-weight: 400;
      color: #595959;
    }
  }

  article.post:hover {
    div.post-attribution {
      position: relative;
      div.post-share {
        // TODO:  Icon 애니메이션화
        display: block;
        position: absolute;
        right: 0;
      }
    }
  }
}