li.card-item {
  display: list-item;
  article.post {
    div.post-attribution {
      display: flex;
      align-items: center;
      margin-bottom: .75rem;
      min-height: 2rem;
      div.author-avatar {
        width: 2rem;
        height: 2rem;
        img.img-avatar {
          display: block;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      div.author-name {

      }
    }

    div.post-thumb-wrap {
      width: 100%;
      position: relative;
      padding-top: 52.6%;
      img.img-thumb {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    h1.post-title {
      div.post-date {

      }
    }
  }
}