// .bodycontent-has-placeholder::before {
//   content: attr(placeholder);
//   opacity: 0.5;
//   color: inherit;
//   cursor: text;
// }

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

div[contenteditable=true] {
  p {
    margin: 2rem 0;
  }
}